.section-title {
    text-align: center;
    /* padding-bottom: 30px; */
}

.pricing .row {
    padding-top: 0px;
}

.card {
    margin-top: 57px;
    border-radius: 8px 40px 40px 8px;
    transition: all 0.5s ease-in-out;
    box-shadow: 1px 0px 8px 2px rgb(73, 147, 170);
}

.bg-dark {
    background-color: #4d8eac;
    background-image: linear-gradient(315deg, #63bad4 0%, #22a9ad 74%);
}

label {
    color: white;
    margin-top: 15px;
    font-family: 'Itim', cursive;
}

.jumbotron {
    background-color: #63d471;
    background-image: linear-gradient(315deg, #4ca6cf 0%, #367e94 74%);
}

#gender {
    width: 300px;
}

#slot {
    width: 300px;
}

#dept {
    width: 300px;
}

.form-group input {
    width: 300px;
    border: none;
    /* border-bottom: 1px solid purple; */
    border-bottom: 2px solid rgb(33, 105, 146);
    outline: none;
    font-size: 22px;
    margin-bottom: 5px;
    font-family: 'Itim', cursive;
}

option {
    width: 400px;
    border: none;
    border-bottom: 2px solid rgb(42, 118, 180);
    outline: none;
    font-size: 22px;
    margin-bottom: 5px;
}

.form-group input:hover {
    background-color: ghostwhite;
}

#btn {
    background-color: #54cadf;
    background-image: linear-gradient(315deg, #49bedb 0%, #233329 74%);
    border-radius: 15px;
    border: none;
    position: relative;
    width: 300px;
}

#btn:hover {
    background-color: white;
    color: white;
}